[submodule "src/frontend"]
	path = src/frontend
	url = https://github.com/UQ-PAC/basil-gui-frontend.git
	branch = static
[submodule "chc-comp-scripts"]
	path = chc-comp-scripts
	url = https://github.com/chc-comp/scripts
